<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!--
  Entity mappings only.
  All connection settings (driver, url, username, password, dialect, ddl-auto)
  are read from application.properties by HibernateUtil at startup.
-->
<hibernate-configuration>
    <session-factory>

        <mapping class="com.san.farm.login.entity.LoginUser" />
        <mapping class="com.san.farm.adminuser.entity.UserTypeEntity" />
        <mapping class="com.san.farm.adminuser.entity.EmployeeInfoEntity" />
        <mapping class="com.san.farm.adminuser.entity.ConfigSiteInformationEntity" />
        <mapping class="com.san.farm.adminuser.entity.ConfigCropEntity" />
        <mapping class="com.san.farm.adminuser.entity.ConfigFarmTaskEntity" />
        <mapping class="com.san.farm.adminuser.entity.AssignCropToSiteEntity" />
        <mapping class="com.san.farm.adminuser.entity.AssignCropToSiteRefEntity" />
        <mapping class="com.san.farm.adminuser.entity.AssignEmployeeToFarmEntity" />
        <mapping class="com.san.farm.adminuser.entity.PaymentProcessingEntity" />
        <mapping class="com.san.farm.adminuser.entity.BrandEntity" />
        <mapping class="com.san.farm.adminuser.entity.FertilizerEntity" />
        <mapping class="com.san.farm.adminuser.entity.UnitEntity" />
        <mapping class="com.san.farm.adminuser.entity.VendorEntity" />
        <mapping class="com.san.farm.adminuser.entity.AssignVendorToProductEntity" />
        <mapping class="com.san.farm.adminuser.entity.CategoryEntity" />
        <mapping class="com.san.farm.adminuser.entity.SiteProductAllocationEntity" />
        <mapping class="com.san.farm.adminuser.entity.BuyerEntity" />
        <mapping class="com.san.farm.adminuser.entity.CropSaleEntity" />
        <mapping class="com.san.farm.adminuser.entity.SalePaymentEntity" />

    </session-factory>
</hibernate-configuration>
