@CHARSET "ISO-8859-1";

fieldset legend{
	font-weight: bold;
	
}
fieldset{
	border: solid;
}
.panel-head{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: 2em;
}
.panel{
	
	width: 100%;
	overflow: auto;
	
}

body{
	background: #FFF;
	margin: 0;
}
table{
	border-spacing: 0;
		
}
table th{
	background: gray;
}
h2{
	font-style: oblique;
	font-size: x-large;
}

#nicefooter ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nicefooter li {
	float: left;
	position: relative;
	padding: 3px 0px 3px 10px;
	display: block;
	margin-right: 2em;
	/* border: 0px solid #0000; */
	background: #c0c0c0;	
}

#nicefooter li a {
	color: #000;
	text-decoration: none;
	display: block;
	/* border-right: 1px solid #CC55FF; */
	padding-right: 10px;
}

#nicefooter li a:hover {
	color: #fff;
	text-decoration: none;
}

#nicefooter li ul li a {
	color: blue;
	text-decoration: none;
	border: 0;
	padding: 0;
	display: block;
	width: 7em;
}

#nicefooter li ul li a:hover {
	color: red;
	text-decoration: none;
}

#nicefooter li ul {
	display: none;
	position: absolute;
}

#nicefooter li ul,#nicefooter li:hover ul li ul {
	display: none;
	position: absolute;
}

#nicefooter li:hover ul {
	display: block;
	background: white;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url('PIE.php');
	height: auto;
	width: 8em;
	z-index: 1000;
	padding: 5px;
}

#nicefooter li ul li:hover ul {
	display: block;
	background: white;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url('PIE.php');
	height: auto;
	width: 8em;
	z-index: 1000;
	padding: 5px;
	margin-left: 70px;
	margin-top: 0;
	top: -5px;
}

#nicefooter li ul li {
	clear: both;
	border-style: none;
	background: white;
	padding: 0;
}
