<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Farming</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserTypeController</display-name>
    <servlet-name>UserTypeController</servlet-name>
    <servlet-class>san.farm.adminuser.controller.UserTypeController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeController</servlet-name>
    <url-pattern>/UserTypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserController</display-name>
    <servlet-name>RegisterUserController</servlet-name>
    <servlet-class>san.farm.adminuser.controller.RegisterUserController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserController</servlet-name>
    <url-pattern>/RegisterUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigSiteInformationController</display-name>
    <servlet-name>ConfigSiteInformationController</servlet-name>
    <servlet-class>san.farm.adminuser.controller.ConfigSiteInformationController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigSiteInformationController</servlet-name>
    <url-pattern>/ConfigSiteInformationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigCropController</display-name>
    <servlet-name>ConfigCropController</servlet-name>
    <servlet-class>san.farm.adminuser.controller.ConfigCropController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigCropController</servlet-name>
    <url-pattern>/ConfigCropController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigFarmTaskController</display-name>
    <servlet-name>ConfigFarmTaskController</servlet-name>
    <servlet-class>san.farm.adminuser.controller.ConfigFarmTaskController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigFarmTaskController</servlet-name>
    <url-pattern>/ConfigFarmTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeInfoController</display-name>
    <servlet-name>EmployeeInfoController</servlet-name>
    <servlet-class>san.farm.adminuser.controller.EmployeeInfoController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInfoController</servlet-name>
    <url-pattern>/EmployeeInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignCropToSiteController</display-name>
    <servlet-name>AssignCropToSiteController</servlet-name>
    <servlet-class>san.farm.adminuser.controller.AssignCropToSiteController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignCropToSiteController</servlet-name>
    <url-pattern>/AssignCropToSiteController</url-pattern>
  </servlet-mapping>
</web-app>