<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Farming</display-name>

  <listener>
    <listener-class>com.san.farm.util.Log4jInitListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.san.farm.filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.san.farm.login.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTypeController</display-name>
    <servlet-name>UserTypeController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.UserTypeController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeController</servlet-name>
    <url-pattern>/UserTypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserController</display-name>
    <servlet-name>RegisterUserController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.RegisterUserController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserController</servlet-name>
    <url-pattern>/RegisterUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigSiteInformationController</display-name>
    <servlet-name>ConfigSiteInformationController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.ConfigSiteInformationController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigSiteInformationController</servlet-name>
    <url-pattern>/ConfigSiteInformationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigCropController</display-name>
    <servlet-name>ConfigCropController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.ConfigCropController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigCropController</servlet-name>
    <url-pattern>/ConfigCropController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigFarmTaskController</display-name>
    <servlet-name>ConfigFarmTaskController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.ConfigFarmTaskController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigFarmTaskController</servlet-name>
    <url-pattern>/ConfigFarmTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrandController</display-name>
    <servlet-name>BrandController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.BrandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandController</servlet-name>
    <url-pattern>/BrandController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeInfoController</display-name>
    <servlet-name>EmployeeInfoController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.EmployeeInfoController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInfoController</servlet-name>
    <url-pattern>/EmployeeInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignCropToSiteController</display-name>
    <servlet-name>AssignCropToSiteController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.AssignCropToSiteController
			</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignCropToSiteController</servlet-name>
    <url-pattern>/AssignCropToSiteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FertilizerController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.FertilizerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FertilizerController</servlet-name>
    <url-pattern>/FertilizerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnitController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.UnitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitController</servlet-name>
    <url-pattern>/UnitController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VendorController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.VendorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorController</servlet-name>
    <url-pattern>/VendorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignVendorToProductController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.AssignVendorToProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignVendorToProductController</servlet-name>
    <url-pattern>/AssignVendorToProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>

  <!-- H2 Web Console Servlet
  Access it at: http://localhost:8080/FarmingERP/h2-console
  Use JDBC URL: jdbc:h2:file:./farmingErpDb with username sa and blank password.
  -->
  <servlet>
    <servlet-name>H2Console</servlet-name>
    <servlet-class>org.h2.server.web.WebServlet</servlet-class>
    <init-param>
      <param-name>webAllowOthers</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>H2Console</servlet-name>
    <url-pattern>/h2-console/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SiteProductAllocationController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.SiteProductAllocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteProductAllocationController</servlet-name>
    <url-pattern>/SiteProductAllocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllocateEmployeeController</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.AllocateEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocateEmployeeController</servlet-name>
    <url-pattern>/AllocateEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.san.farm.adminuser.controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
</web-app>